
<div class="row">
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-8">
		<div id="dealershipPanel" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Explore our Dealerships!</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<a routerLink="add">Add New</a>&nbsp;&nbsp;<a routerLink="list">View Available Dealerships</a>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="col-md-2">&nbsp;</div>
</div>

